.footer{
    background-color: transparent;
    border-top: 1px solid #a993fe;
}
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.email{
    cursor: pointer;
    margin-top: 1rem;
}
.location p{
    line-height: 30px;
    cursor: pointer;
}
.social{
    cursor: pointer;
}
h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.2rem;
}




@media screen and (max-width:640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
    
}