
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=PT+Sans&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika+Negative:wght@300;500;600;700&display=swap');

*{
  font-family: "Roboto Condensed", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  color: #fff;
  background-color: #060417;
}
